.CheckoutPage{
    margin:0 auto;
    & p.total{
        font-size:1.5em;
        & span{
            font-weight:600;
            font-style:italic;
        }
    }
    & div:nth-child(2){
        display:flex;
        justify-content: center;
        & div{
            margin-bottom:10px;
        }
        
        & form{
            width:245px;
        }
    }
}