.HomePage {
  margin-bottom: 44px;
}

.HomePage__img {
  max-width: 640px;
  width: 90%;
}

.content {
  height: 160px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #000000;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.content__container:before {
  content: "[";
  position: absolute;
  left: 0;
}

.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
}

.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #000000;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 0px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #287960 0%, #a59c1c 29%, #00fc71 67%, #287960 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 2s linear infinite;
          animation: textclip 2s linear infinite;
  text-align: center;
  font-weight: 800;
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-33%);
            transform: translateY(-33%);
  }
  100% {
    -webkit-transform: translateY(-66%);
            transform: translateY(-66%);
  }
}

@keyframes change {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-33%);
            transform: translateY(-33%);
  }
  100% {
    -webkit-transform: translateY(-66%);
            transform: translateY(-66%);
  }
}

@-webkit-keyframes textclip {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}
/*# sourceMappingURL=homePage.css.map */