.LoginPage{

    & .inputs{
        display:flex;
        justify-content: center;
        gap:10px;
        margin-bottom:20px;
    }
}

@media(max-width:500px){
    .LoginPage{
        & .inputs{
            flex-direction: column;
            align-items:center;
            &__input{
                width:300px;
            }
        }
    }
}