.basketUl{
    color:black;
    list-style-type:none;
    display:flex;
    flex-direction: column;
    gap:30px;
    &__li{
        display:flex;
        justify-content:space-around;
        border:1px solid rgb(27, 65, 105);
        background-color: rgb(177, 203, 230);
        border-radius:10px;
        padding:10px;
        &__img{
            display:flex;
            align-items:center;
            & img{
                width:100px;
                height:100px;
            }  
        }
        &__middle{
            text-align:left;
            width:300px;
        }
        &__right{
            & p:nth-child(2){
                font-weight:bold;
            }
        }
    }
}

