ul.messages {
    height:300px;
    overflow-y: scroll;
    padding:5px;
    list-style: none;
    color:black;
    & li{
        border-radius:0.5em;
        margin:5px;
        width:auto;
        display:block;
        padding:5px;
        color:white;
        & p{
            display:inline-block;
            padding:10px;
            border-radius:1em;
        }
        & .time{
            font-size:0.9em;
            color:black;
        }
        & .messageContent{
            font-weight:600;
        }
    }
    & .user{
        & p:not(.time){
            background:#353333;
        }
        text-align: right;
    }
    & .admin{
        background:color;
        & p:not(.time){
            background:#663b3b;
        }
    }
}