.DestinationAddress{
    display: flex;
    flex-direction: column;
    gap:15px;
    & .line{
        display:flex;
        justify-content:center;
        align-items:center;
        gap:15px;
    }
}

@media (max-width:500px) {
    .DestinationAddress{
        & .line{
            flex-direction: column;
        }
    }
}