.InfiniteScroll{
    max-width:1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    & ul{
        display:flex;
        flex-wrap: wrap;
        gap:10px;
        justify-content: center;
        padding:0;
    }
}