.Navbar{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    padding-top:30px;

    color:white;
    background-color: #287960;
    & > *{
        margin: 0 10px 10px 10px;
    }
    & h1{
        margin:0;
        // color:white;
    }
    & p{
        margin:0;
    }

    &__rightSide{
        display:flex;
        &__avatarImage{
            width:47px;
            height:47px;
            border-radius:100%;
        }
    }

    &__logPart{
        display:flex;
        align-items:center;
        & p:nth-child(1){
            margin-right: 5px;;
            font-style:italic;
        }
    }
    &__shopping{
        position:relative;
        cursor: pointer;
        & .basketIcon{
            width:35px;
            height:35px;

        }
        &__number{
            position:absolute;  
            opacity:0.5;
            top:0;
            right:-5px;
            width:20px;
            height:20px;
            border:1px solid black;
            border-radius:100%;
            background:white;
            color:red;
        }
    }
    .signupAndLogin{
        display:flex;
        justify-content: center;
        align-items:center;
        gap:10px;
        font-weight:600;
        font-size:1.2em;
        font-style: italic;
        margin-right: 10px;
    }
}

.logOut{
    background:#961212;
    padding:10px;
    border-radius:2em;
    color:white;
    font-weight:600;
    cursor:pointer;
}

.logo{
    width:50px;
    height:50px;
    & img{
        width:100%;
    }
}

@media(max-width:600px){
    .logo{
        display:none;
    }
}