.ProductWidget{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:200px;
    height:300px;
    margin-bottom:20px;
    border:1px solid black;
    & h3{
        margin:0;
    }
    &__picture{
        width:70%;
        & img{
            width:100%;
            object-fit: cover;
        }
    }
    & p{
        margin:0;
    }
}