.ProductWidget{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:200px;
    height:350px;
    margin-bottom:20px;
    border:1px solid #e5e7eb;
    border-radius:1em;
    transition: box-shadow 0.3s ease-in-out;
    padding:10px;
    &:hover{
        box-shadow:inset 0 0 0 6px #e5e7eb;
    }
    & h3{
        margin:0;
    }
    &__picture{
        
    }
    & p{
        margin:0;
    }
    &__infos{
        &.brand{
            color:#287960;
            font-weight:800;
        }
        &.name{
            text-align: left;
        }
        &.picture{
            margin:0 auto;
            width:70%;
            & img{
                width:100%;
                object-fit: cover;
            }
        }
    }
}